html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    background-color: #eeeeee;
}

#wrapper {
    height: 100%;
    overflow: hidden;
}

h2 {
    font-size: 36px;            
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 0 5px 20px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 0 5px 20px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 0 0px 20px;
}

p {            
    padding: 5px 20px 5px 20px;
}

ul {
    list-style: none;
}

li {
    padding: 15px 20px 15px 5px;
}

.about,
.company,
.services {
    width: 100%;
    background-color: #fff;
}

.footer {
    width: 100%;
    background-color: #fff;
    min-height: 500px;
    overflow: hidden;
}

.content {
    width: 100%;
}

.navigation {
    width: 100%;
}

.navigation-list {
    background-color: #cccccc;
    margin: 10px 20px 10px 20px;
}