body {
    height: 100%;            
    margin: 0;
    font-size: 36px;
    color: #fff;
}

/* p {
    font-family: 'Zilla Slab', serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) } */

.block-1 {
    width: 350px;
    height: 220px;
    background-color: #33cc99;
    display: inline-block;
    position: relative;
}

.a {
    position: sticky;
    top: 0;
    padding: 5px;
  }

.block-2 {
    width: 150px;
    height: 400px;            
    background-color: #ff6633;    
    display: inline-block;
    vertical-align: top;
}

.block-3 {
    width: 350px;
    height: 170px;           
    background-color: #6666ff;
    position: absolute;
    top: 230px;
}

.block-4 {
    width: 100px;
    height: 80px;     
    background-color: #fff;
    color: #6666ff;
    position: fixed;
    top: 185px;
    left: 120px;
}